<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="HtmlRenderer.Core" version="1.5.1-beta1" targetFramework="net461" />
  <package id="HtmlRenderer.PdfSharp" version="1.5.1-beta1" targetFramework="net461" />
  <package id="Json.Net" version="1.0.16" targetFramework="net461" />
  <package id="log4net" version="2.0.8" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net461" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net461" />
  <package id="PDFsharp" version="1.51.5185-beta" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.0.0-alpha02" targetFramework="net461" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net461" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net461" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.1.2" targetFramework="net461" />
  <package id="Twilio" version="5.32.0" targetFramework="net461" />
</packages>